* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html,
main {
  background-color: #009c86;
  height: 100%;
}

/**********************************
NAV
***********************************/
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 50px;
  width: 70px;
}

.hamburger-menu-item {
  background-color: #fff;
  width: 50px;
  height: 5px;
  margin: 5px 5px 5px 15px;
  border-radius: 5px;
}

/**********************************
SECTION INTRO
***********************************/

#intro,
#about-us {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.intro-title {
  font-size: 52px;
  color: #fff;
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 3px;
}

.intro-title-square {
  height: 50px;
  width: 50px;
  background-color: #fff;
  color: #009c86;
  padding: 15px 5px 15px 5px;
}

/**********************************
SECTION PROJECTS
***********************************/

/**********************************
ABOUT US
***********************************/
#about-us {
  background: linear-gradient(
    to right,
    #009c86 0%,
    #009c86 50%,
    #fff 50%,
    #fff 100%
  );
}

.about-us-item {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-us-title {
  font-family: "Bebas Neue", sans-serif;

  font-weight: bold;
  font-size: 48px;
  letter-spacing: 3px;
  text-align: center;
}

.about-us-text {
  font-family: "Roboto Condensed", sans-serif;
  color: #009c86;
  font-size: 24px;
}

.left {
  color: #fff;
}

.right {
  color: #009c86;
}

/**********************************
PROJECTS
***********************************/

#projects {
  height: 100%;
  background-color: #fff;
}

.projects-header {
  padding: 24px;
}

.projects-header-title {
  font-family: "Bebas Neue", sans-serif;
  color: #009c86;
  font-weight: bold;
  font-size: 48px;
  letter-spacing: 3px;
  text-align: center;
}

p {
  font-family: "Roboto Condensed", sans-serif;
  color: #009c86;
  font-size: 24px;
  text-align: center;
  padding: 24px;
}

.project-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 60px;
}

.row {
  width: 450px;
  height: 150px;
  background-color: #009c86;
}

.items,
.row p {
  color: #fff;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: end;
  padding-bottom: 5px;
}
