* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #009c86;
  margin-top: 20px;
}

main {
  height: 100%;
}

/**********************************
SECTION INTRO
***********************************/

.bar1,
.bar2,
.bar3 {
  background-color: #fff;
  width: 50px;
  height: 5px;
  margin: 5px 5px 5px 15px;
}

#intro {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-intro-title {
  font-size: 52px;
  color: #fff;
  font-family: "Bebas Neue", sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 span {
  color: #009c86;
}

.square {
  height: 50px;
  width: 50px;
  background-color: #fff;
  padding: 15px 5px 15px 5px;
}

/**********************************
SECTION PROJECTS
***********************************/

#projects {
  display: flex;
  margin-top: 515px;
}

.box-left {
  background-color: #009c86;
  height: 100vh;
  width: 50%;
}

.box-right {
  background-color: #fff;
  height: 100vh;
  width: 50%;
}

/*
TESTING #intro {
  background-color: aliceblue;
  min-height: 100vh;
}

#about {
  background-color: blue;
  min-height: 100vh;
}

#projects {
  background-color: rgb(16, 24, 31);
  min-height: 100vh;
}

#contact {
  background-color: red;
  min-height: 100vh;
}
*/
