* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(22, 110, 110);
}

main {
  height: 100vh;
}

#intro {
  background-color: aliceblue;
  min-height: 100vh;
}

#about {
  background-color: blue;
  min-height: 100vh;
}

#projects {
  background-color: rgb(16, 24, 31);
  min-height: 100vh;
}

#contact {
  background-color: red;
  min-height: 100vh;
}
